.expand-container {
	overflow: hidden;
	height: 100vh;
	position: relative;
	
	.expand-body {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		
		.cover {
			max-height: 100vh;
			max-width: calc(100vw + 60px);
		}
		
	}
}

.jumbotron-invert {
	background-color: $gray;
	color: $gray-lighter;
}