//== Navbar
//
//##

$navbar-default-color:             #ccc;
$navbar-default-bg:                linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
$navbar-default-border:            transparent;

// Navbar links
$navbar-default-link-color:                #ccc;
$navbar-default-link-hover-color:          #bbb;
$navbar-default-link-hover-bg:             rgba(0, 0, 0, 0.1);
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        #ccc;
$navbar-default-toggle-border-color:       transparent;