//== Navbar
//
//##


$navbar-default-bg:                linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
$navbar-default-border:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        #ddd;
$navbar-default-toggle-border-color:       transparent;